#background{
	background-image:url("../img/dog.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;

}

#background2{
	background-image:url("../img/hd.jpg");
	background-repeat:no-repeat;
	background-size:cover;
    height: 100vh;
    width:100%;
}

.clearBox{
	overflow:hidden;
	clear: both;
}
#info li {
        list-style-type: none;
        float: left;
        margin: 10px;
        font-size:1.2em;
        font-family:sans-serif;
      text-transform: capitalize;
        
}

.back a {
	color: #fff;
	text-decoration:none;
}

.flip {
    height: 200px;
    width: 300px;
    margin: 0 auto;
}
.flip .front img {
    width: 300px;
    height: 200px;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

#content{
	font-family: Georgia, Utopia, 'Times New Roman', Times, serif;
    color: #333333;
    line-height: 1.6;
    font-size: 14px;
    letter-spacing: 1px;
    background-image:url("../img/dog.jpg");
    background-repeat:no-repeat;
	background-size:cover;
    height: 100vh;
    width:100%;
   
}

#background-color{
	background-image:url("../img/hd.jpg");
	background-repeat:no-repeat;
	background-size:cover;
    height: 100vh;
    width:100%;
	
}

#enter{
	list-style-type:none;
	float:left;
	overflow: hidden;
	
}

.adoption{
	display:inline;
	
}
.adoption img{
	height:250px;
	width:300px;
	padding-left:20px;
   
}
 
#chose{
	margin:0 auto;
	width:650px;
	
}

