#background{
	background-image:url("../img/dog.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;

}

.clearBox{
	overflow:hidden;
	clear: both;
}
#info li {
        list-style-type: none;
        float: left;
        margin: 20px;
        
}

#info li div{
	padding-top:4%;
}

.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flip .front img {
    width: 300px;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}
