<div id="content">
	<h4>The ATA Mission: Saving Animals&nbsp;&amp; Defining The Aesthetics of Activism!</h4>
	<p>
		Arm The Animals was born from tragedy in 2010 as an attempt to express the inexpressible. Created following the untimely death of our founders sister who a lifelong animal advocate and “pet parent” to a dozen rescues, Arm The Animals would serve as a living tribute and means of carrying on a legacy that was ended too soon.&nbsp;
	</p>
	<p>
		Starting online with a simple website, ATA began attending every animal event in Southern California where their designs spoke directly to most of the attendees. By creating universally relatable designs with no political agenda attached to them, ATA had a design for almost every person who saw them and they soon began making friends in the world of animal rescues.
	</p>
	<p>
		ATA soon formed relationships with these rescues and began donating to them on a consistent basis. We develop designs and/or collection that speak to the core values of our partners and donate a generous portion of the proceeds from each campaign. We also provide product free of charge for partners to sell and keep and even host full web stores on our website. ATA has worked with and donated to over 50 different animal welfare organizations most of whom are smaller in size, so any amount of&nbsp;money really does make an impact with shelter, food, vet bills and other basics all rescues simply must have.&nbsp;
	</p>
	<p>
		ATA is not a non-profit organization: it is a regular apparel business that has made "giving back" a core goal of the company. The group consists of regular, down-to-earth people who actually care about the world around them. We are all close friends who grew up with animals, have rescue pets of our own, and agree that the current plight facing innocent discarded animals can not only be helped, but fixed! Is this naive? Maybe, but every “impossible” task has been overcome in the same way - by taking a first step!
	</p>
	<p>
		The current animal euthanasia statistics are staggering! Every year 4,000,000 - 5,000,000 animals are euthanized because people simply don’t do the basics for their pets. It’s no longer an option to spay, neuter, feed, water and love your pets - it’s mandatory! If you make the decision to own an animal, you should at least have the heart to make sure they are healthy and cared for! I think we can all agree on that.
	</p>
	<p>
		In no way is Arm The Animals is a "fly-by-night" idea or “one time” charity project; we have truly committed everything we have and everything we are to this company and we plan on doing for the rest of our lives. Although our goals are incredibly lofty, we have no doubt that we can make a huge impact! With passion, drive and your support, we believe anything is possible. We hope you feel the same way and decide to support us. Together we CAN make a difference... Actually, we already are making a difference.
	</p>
	<p>
		&nbsp;
	</p>
</div>