<script>
	$(function(){
    $(".flip").flip({
        trigger: 'hover'
    });
});
</script>
<div id="background-color">
<input class="form-control" id="inputdefault" ng-model="search" placeholder="search" />
<ul id="info" ng-controller="adopt">
	<li ng-repeat="data in dataList | filter:search">
		<div class="flip"> 
        <div class="front"> 
		<img ng-src="uploads/{{data.file}}"  />
		    </div> 
    <div class="back">
       	
		name:{{data.name}}
		<br />
		age:{{data.age}}
		<br />
		breed:{{data.breed}}
		<br />
		lost/found:{{data.lostAndFound}}
		<br />
		
		<a target="_blank" href="http://maps.google.com/?q={{data.location}}">location:{{data.location}}</a> 
		<br />
		<a href="mailto:{{data.email}}">email:{{data.email}}</a> 
		
    </div> 
</div>
	
	</li>
</ul>
</div>

    

